*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background-image: url("https://shop.jimmychin.com/cdn/shop/products/20103011_Chad_0170_055e380f-64f4-40af-b083-51d002f259d4_2048x.jpg?v=1575397700");
    background-position: top;
}
nav {
    display: flex;
    justify-content: space-around;
    margin: auto;
    height: 70px;
    background-color: rgb(183,189,185);
    border-radius: 25px;
}
    nav ul {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        margin: 20px;
    }
    nav ul li a {
        text-decoration: rgb(253, 146, 106);
        margin: 0 30px;
        text-decoration: none;
        color: rgb(0, 0, 0); 
    }
    nav ul li a:hover {
        color: rgb(220,203,195);
        animation-delay: 2ms;
        font-variant: small-caps;
        text-shadow: 35px;
        background-color: black;
    }
.forward{
    text-align: justify;
    color: rgb(0, 0, 0);
    font-size: 2.5rem;
    font-family: "Poppins" sans-serif;
    margin: 12px;
}
.live{
    margin: 5px;
    border-radius: 55px;
}
ul.menu li :hover{
    background-color: rgb(0, 0, 0);
    transition: 0.07s;
}
.shanti{
    text-transform: capitalize;
    padding: 5.6%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    color: rgb(70, 70, 70);  
}
p{
    text-transform: capitalize;
    color:rgb(70, 70, 70);
    font-family: 'Segoe UI', sans-serif;
    font-size: large;
}
.type{
    color: aliceblue;
}
.footer{
    background-color:rgb(10, 10, 10);
    padding: 155px;       
}
.footer-col{
   width: 100%;
   margin-right: 15px;
   margin-top:1px;
   text-align: center;
}
.footer-col h4{
    font-size: 1.2rem;
    color: whitesmoke;
    margin-bottom: 10px;
    font-weight: 100;
    position: relative;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 1rem;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    color: rgb(220,203,195);
    display: block;
    transition: all 1s ease;
}
.footer-col ul li a:hover{
    color: rgb(255,222,153);   
    padding-left: 15px;
}
.copyright{
    color: rgb(220,203,195);
    margin:2px;
    padding-bottom: 7px;
    font-size: small;
}
